.homepage-header {
  color: white;
  width: 100%;
  height: 600px;
  background-size: cover;
  background-image: url("images/vitolda-klein-O0Pil03e6S8-unsplash.jpg");
  background-position: center center;
}

.homepage-title {
  font-size: 60px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  margin-top: 170px;
  /* text-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3); */
}

.banner-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}
.homepage-description {
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  max-width: 50%;
}

.homepage-section-header {
  font-size: 30px;
  border-left: 7px solid #d81159;
  padding: 7px 10px;
  margin-top: 30px;
  /* background-color: #b9d1e9; */
}
* {
  font-family: "Roboto", sans-serif;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item .nav-link.active {
  color: #f0aa00;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  color: black;
}

.MuiCardContent-root .MuiButtonBase-root {
  font-weight: bold;
  border-bottom: 1px solid #ff3076;
}

.MuiCardContent-root a {
  text-decoration: none;
  color: #56225e;
}

.MuiCardContent-root a:hover {
  color: #ff3076;
}
